.header-logo {
    width: 250px; /* Adjust the width as needed */
    height: auto; /* Maintain the aspect ratio */
    padding: 10px;
    padding-top: 50px; /* Add padding to the top */
}
.title-container {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-top: 30px; /* Adjust this value to move the logo down */
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* Six columns */
    gap: 10px; /* Space between the images */
    margin-top: 20px; /* Space above the grid */
}

.image-grid img {
    width: 100%;
    height: auto; /* Maintain aspect ratio */
    display: block;
}

/* Initial state for images to be hidden */
.image-grid a img {
    opacity: 0;
    transition: opacity 0.5s ease-in-out; /* Transition for fading in */
}

/* State when images are fully loaded */
.image-grid a img.loaded {
    opacity: 1;
}


/* Overlay styles */
#overlay {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000; /* Sit on top */
    background: rgba(0, 0, 0, 0.5); /* Optional: semi-transparent background */
    align-items: center; /* Center content vertically */
    justify-content: center; /* Center content horizontally */
}

.window {
    position: relative;
    width: 80%;
    height: 80%;
    margin: 5% auto; /* Center the window */
    background-color: #fff;
    border: 2px solid #000;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    display: flex; /* Use flexbox for centering */
    flex-direction: column;
}

.window-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: #00599C; /* Windows XP blue */
    color: #fff;
    font-size: 16px;
}

.window-header .close-btn {
    background-color: #FF0000; /* Red close button */
    color: #fff;
    padding: 0 10px;
    cursor: pointer;
}

.window-content {
    flex: 1; /* Take up remaining space */
    display: flex; /* Use flexbox for centering */
    align-items: center; /* Center image vertically */
    justify-content: center; /* Center image horizontally */
    overflow: hidden; /* Hide any overflow */
}

#fit-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* Ensure image fits within the container */
    display: block;
    -webkit-user-select: none; /* For WebKit browsers */
}
